<!DOCTYPE HTML>

<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="/public/index.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>WayScript Node Gmail Example Code</title>
	</head>

	<body>
		<img src="/static/logo.png">

		<br><br>
		<div>
			<span>Enter an Email, Subject, and Message Body, separated by commas. Click "Send" to sent the message using your WayScript Gmail program.</span>
		</div><br>

		<input id="name_input" type="text" placeholder="Enter a Name" value="test@example.com,Dinner Tuesday?,Want to grab a bite Tuesday night?" style="width: 50%;">
		<button id="button">Send</button>
		
		<br><br>

		<ul id="result"></ul>
	</body>
</html>
